/* Hero Style */
header {
    background-color: black;
    background-image: url("../images/post-image-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 10rem;
    height: 40vh;

   // background-repeat: no-repeat;
  //  box-sizing: cover;
    //padding-bottom: 10rem;
}

.header__container {
    text-align: center;
    margin-top: 100px;
}

.header__title {
    font-size: 6vw;
}

